<br>
<br>
<div class="wrapper" style="text-align: center;">
  <h1>About US</h1>
  <ol role="list">
    <li>The current world and people are facing with wide variety of diseases and illness which requires constant
      availability of the medicines. The medicines should be available and should be distributed to the needy at
      the right time.</li>
    <li>This project ensures that the end user could look for and request the medicines they need or
      donate the medicines they have to the people in need of.</li>
    <li>The pharmacy admin ensures the medicines are
      delivered to the requested users at the right moment and validates the requests they receive. This project
      focuses on the management, distribution, and availability of medicines.</li>
  </ol>
</div>